.ta-hidden-input
  display: none
.container
  margin-top: 10px

.navigation
  clear: both
  overflow: hidden
  text-align: center
  padding: 7px 5px
  font-size: 18px
  border-bottom: 1px solid #ccc

.header
  clear: both
  overflow: hidden
  border-bottom: 1px solid #ccc
  padding: 5px
  position: relative

.label
  position: absolute
  top: 0
  left: 0
  background: #5bc0de
.thumbnail
  padding: 0

.glyphicon-remove-circle
  color: red
  font-size: 30px

.btn-semi
  border-top-left-radius: 0
  border-top-right-radius: 0
  width: 49.3%
  border: 0

  &-left
    border-bottom-right-radius: 0

  &-right
    border-bottom-left-radius: 0
