<div class="row">
  <div ng-init="vm.getListEvents()" class="col-md-10 col-md-offset-1">
    <h1>Lista de Inscritos</h1>
    <div>
      <input type="checkbox" id="toggleFilter" ng-model="vm.toggleFilter" />
      <label for="toggleFilter">
        Mostrar Filtro
      </label>
    </div>
    <div cg-busy="vm.busy">
      <table valign="middle" id="inscriptiontList" ng-table="vm.tableParams" class="table table-striped table-hover table-condensed table-responsive text-center" show-filter="vm.toggleFilter">
        <tr ng-repeat="data in $data">
          <td title="'Nombre'" filter="{name: 'text'}" sortable="'name.firstName'">
            {{data.name.firstName}}
          </td>
          <td title="'apellido'" filter="{lastname: 'text'}" sortable="'name.lastName'">
            {{data.name.lastName}}
          </td>
          <td title="'Cédula'" filter="{idNumber: 'number'}" sortable="'idNumber'">
            {{data.idNumber}}
          </td>
          <td title="'Edad'" sortable="'age'">
            {{data.age}}
          </td>
          <td title="'Teléfono'"  sortable="'phone'">
            {{data.phone}}
          </td>
          <td title="'Email'" filter="{email: 'text'}" sortable="'email'">
            {{data.email}}
          </td>
          <td title="'Eps'" sortable="'eps'">
            {{data.eps}}
          </td>
          <td title="'Universidad'" sortable="'university'">
            {{data.university}}
          </td>
          <td title="'Pregrado'" sortable="'preGrade'">
            {{data.preGrade}}
          </td>
          <td valign="middle" title="'Conocimientos'">
            <div ng-repeat="knowledges in data.knowledges">
              {{knowledges}}
            </div>
          </td>
          <td title="'F. creación'" sortable="'createdAt'">
            {{data.createdAt | customFormatDate: "dd/MM/yyyy"}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
