<nav class="navigation">
  <span class="btn btn-success pull-left" ng-click="vm.newBet()">add bet</span>
  Bet Rush
  <div class="coins pull-right">
    $1200
  </div>
</nav>

<div class="container">
  <div class="row">


  <div class="col-sm-12" ng-class="{'closing': card.close}" ng-repeat="card in vm.data">
    <div class="thumbnail">
      <div class="header">
        <span class="label">{{card.category[0]}}</span>
        <span class="glyphicon glyphicon-minus cant-minus" ng-click="vm.minus(card)"></span>
        <span class="cant">${{card.cant}}</span>
        <span class="glyphicon glyphicon-plus cant-plus" ng-click="vm.add(card)"></span>
        <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="vm.closeCard(card)"></span>
      </div>
      <div class="timer"></div>
      <div class="caption">
        <p class="bet-text">{{card.name}}</p>
      </div>
      <p>
      <a href="#" class="btn btn-semi" ng-class="$index ? 'btn-danger btn-semi-right': 'btn-success btn-semi-left'" role="button" ng-repeat="opt in card.options" ng-click="vm.sendAnswer(card, opt)">{{opt}}</a>
    </div>

</div>
</div>

<nav class="navigation-footer">
  <div class="col-sm-3">
    <a ui-sref="/">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </div>
  <div class="col-sm-3">
    <a ui-sref="wonBet">
      <span class="notification notification--won" ng-if="vm.count.win">{{vm.count.win}}</span>
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
  </div>
  <div class="col-sm-3">
    <a ui-sref="loseBet">
      <span class="notification notification--lose" ng-if="vm.count.lose">{{vm.count.lose}}</span>
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
  </div>
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-user"></span>
  </div>
</nav>
