<section id="contactSection" class="contact">
  <div class="contact__content">
    <h2 class="contact__header">Contáctanos</h2>
    <p class="contact__copy">Comunícate con el equipo de recursos humanos para resolver cualquier inquietud acerca del evento al siguiente número <strong>(+057 ) 1  7460740 ext. 106</strong> o escríbenos a la dirección de correo electrónico.</p>
    <a class="contact__link" href="mailto:recruitingcolombia@prodigious.com">recruitingcolombia@prodigious.com</a>
  </div>
</section>
