<section id="footerSection" class="footer">
  <div class="footer__content">
    <ul class="footer__menu">
      <li>
        <a href="#headerSection" scroll-to-element>
          Inicio
        </a>
      </li>
      <li>
        <a href="#scheduleSection" scroll-to-element>
          Cronograma
        </a>
      </li>
      <li>
        <a href="#hostSection" scroll-to-element>
          Expositores
        </a>
      </li>
      <li>
        <a href="#inscriptionSection" scroll-to-element>
          Inscripciones
        </a>
      </li>
    </ul>
  </div>
</section>