<section id="headerSection" class="header">
  <div class="logo">
    <picture>
      <source srcset="/images/prodigi-logo.png" media="(min-width: 1120px)">
      <source srcset="/images/prodigious.png" media="(min-width: 768px)">
      <img src="/images/prodigi-logo.m.jpg" alt="">
    </picture>
  </div>
  <div class="menu">
    <div>
      <div class="tablet">
        <img src="/images/logo-prodigi.png" alt="">
      </div>
      <div class="responsive">
        <img src="/images/logo-prodigi-res.png" alt="" width="90">
      </div>
      <div>
        <span class="fa fa-bars" ng-click="vm.toggleMenu = !vm.toggleMenu">
        </span>
        <ul ng-class="{'toggle-menu': vm.toggleMenu}">
          <li>
            <a href="#scheduleSection" scroll-to-element>
              Cronograma
            </a>
          </li>
          <li>
            <a href="#hostSection" scroll-to-element>
              Expositores
            </a>
          </li>
          <li>
            <a href="#inscriptionSection" scroll-to-element>
              Inscripciones
            </a>
          </li>
          <li>
            <a href="#contactSection" scroll-to-element>
              Contáctanos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
