<section id="hostSection" class="hosts">
  <h2 class="hosts-title">Expositores</h2>
  <div class="sliders">
    <slick class="slider" settings="slickConfig" ng-if="slickConfigLoaded">
        <div ng-repeat="h in vm.data" class="slider__cont">
            <div class="host">
              <img src="{{ h.photo }}" alt="" height="200">
              <h4>{{ h.name }}</h4>
              <strong>{{ h.role }}</strong>
              <div ng-bind-html="h.shortBody" class="slider__desc"></div>
              <a ng-click="showModal(h)">Ver más</a>
            </div>
        </div>
    </slick>
  </div>
</section>
