<section class="requeriments">
  <div class="close-dialog" ng-click="closeThisDialog()">cerrar</div>
  <div class="schedule-detail__day">
    <h4>Inscripción:</h4>
  </div>
  <div class="requeriments__body_p">
    Recuerde que antes de inscribirse al evento Prodigi.experience asegúrese de cumplir con los siguientes requerimientos que son indispensables para el desarrollo del evento y asegurar el éxito del mismo.
    <ol class="requeriments__list">
      <li><div class="requeriments__item">El estudiante debe pertenecer a alguna de las universidades que se encuentran listadas en el formulario.</div></li>
      <li><div class="requeriments__item">Tener conocimientos básicos de desarrollo y diseño web.</div></li>
      <li><div class="requeriments__item">Tener un computador portátil el cual debe traer el día del evento. El equipo técnico de Prodigious instalará los programas  que se deben tener para el desarrollo de las actividades, si llegase a ser necesario.</div></li>
    </ol>
  </div>
</section>
