<section class="schedule-detail">
  <div class="close-dialog" ng-click="closeThisDialog()">cerrar</div>
  <div class="schedule-detail__day">
    <h4>{{day | dateMoment: 'D [de] MMMM'}}</h4>
  </div>
  <div class="schedule-detail__main-info">
    <div class="schedule-detail__cont">
      <p class="schedule-detail__header">Expositor(es)</p>
      <p class="schedule-detail__detail" ng-repeat="host in data.hosts">
        {{host.name}}
      </p>
      <hr class="divider divider--sm-black"/>
    </div>
    <div class="schedule-detail__cont">
      <p class="schedule-detail__header">Hora</p>
      <p class="schedule-detail__detail">
        {{data.startTime | date: "hh:mm a"}} a {{data.endTime | date: "hh:mm a"}}
      </p>
      <hr class="divider divider--sm-black"/>
    </div>
    <div class="schedule-detail__cont">
      <p class="schedule-detail__header">Capacidad</p>
      <p class="schedule-detail__detail">
        {{data.totalCapacity}} max
      </p>
      <hr class="divider divider--sm-black"/>
    </div>
  </div>
  <div class="schedule-detail__info">
    <div class="schedule-detail__info-container">
      <h5 class="schedule-detail__header">Objetivo general</h5>
      <div class="schedule-detail__copy" ng-bind-html="data.objective">
      </div>
      <hr class="divider divider--sm-black"/>
    </div>
    <div class="schedule-detail__info-container">
      <h5 class="schedule-detail__header">Descripción</h5>
      <div class="schedule-detail__copy" ng-bind-html="data.body">
      </div>
      <hr class="divider divider--sm-black"/>
    </div>
  </div>
</section>

<!-- 
<section class="schedule-detail">
  <div class="close-dialog" ng-click="closeThisDialog()">cerrar</div>
  <div class="schedule-detail__day">
    <h4>{{day}}</h4>
  </div>
  <div class="schedule-detail__main-info">
    <div class="schedule-detail__cont">
      <p class="schedule-detail__header">Expositor</p>
      <p class="schedule-detail__detail">
        {{data.host}}
      </p>
      <hr class="divider divider--sm-black"/>
    </div>
    <div class="schedule-detail__cont">
      <p class="schedule-detail__header">Hora</p>
      <p class="schedule-detail__detail">
        {{data.schedule}}
      </p>
      <hr class="divider divider--sm-black"/>
    </div>
    <div class="schedule-detail__cont">
      <p class="schedule-detail__header">Capacidad</p>
      <p class="schedule-detail__detail">
        {{data.totalCapacity}} max
      </p>
      <hr class="divider divider--sm-black"/>
    </div>
  </div>
  <div class="schedule-detail__info">
    <div class="schedule-detail__info-container">
      <h5 class="schedule-detail__header">Objetivo general</h5>
      <p class="schedule-detail__copy">{{data.objective}}</p>
      <hr class="divider divider--sm-black"/>
    </div>
    <div class="schedule-detail__info-container">
      <h5 class="schedule-detail__header">Descripción</h5>
      <p class="schedule-detail__copy">{{data.body}}</p>
      <hr class="divider divider--sm-black"/>
    </div>
  </div>
</section> -->