<section id="scheduleSection" class="schedule">
  <div>
    <div class="schedule-sliders">
      <slick class="schedule-slider" settings="slickConfig" ng-if="slickConfigLoaded">
          <div ng-repeat="s in vm.schedule">
              <div class="schedule-info">
                <h2>
                  {{ s.dia | dateMoment: 'D [de] MMMM' }}
                </h2>
                <div ng-repeat="e in s.events" class="event-{{ e.category }}">
                  <a class="clikeable" ng-click="showModal(e, s.dia)">
                    <h4>
                      {{ e.name }}
                    </h4>
                  </a>
                  <p>
                    {{e.startTime | date: "hh:mm a"}} a {{e.endTime | date: "hh:mm a"}} 
                  </p>
                </div>
              </div>
          </div>
      </slick>
    </div>
    <a class="download" href="/images/Cronograma-Prodigi.pdf" target="_blank">Descargar Cronograma</a>
  </div>
</section>

<!-- <section id="scheduleSection" class="schedule">
  <div>
    <div class="schedule-sliders">
      <slick class="schedule-slider" settings="slickConfig" ng-if="slickConfigLoaded">
          <div ng-repeat="s in schedule">
              <div class="schedule-info">
                <h2>{{ s.dia }}</h2>
                <div ng-repeat="e in s.events" class="event-{{ e.category }}">
                  <a class="clikeable" ng-click="showModal(e, s.dia)"><h4>{{ e.name }}</h4></a>
                  <p>{{ e.schedule }}</p>
                </div>
              </div>
          </div>
      </slick>
    </div>
    <a class="download" href="/images/Cronograma-Prodigi.pdf" target="_blank">Descargar Cronograma</a>
  </div>
</section> -->