<div class="col-md-10 col-md-offset-1">
  <h1 ng-hide="vm.data._id">Insertar Expositor</h1>
  <h1 ng-show="vm.data._id">Editar Expositor</h1>
  <div>
    <div class="form-group">
      <label>Nombre:</label>
      <input class="form-control" placeholder="Nombre" ng-model="vm.data.name" type="text" name="name" />
    <div/>
    <div class="form-group">
      <label>Foto:</label>
      <input id="photo" class="form-control" placeholder="Foto" type="file" name="filename" />
      <img class="img-thumbnail" ng-show="vm.data.photo" src="{{vm.data.photo}}" width="150" alt="">
      <button class="btn btn-primary" ng-click="vm.sendPhoto()" type="submit">cargar imagen</button>
      <div ng-show="vm.messageImage" ng-class="{'alert-info': vm.messageImage}" class="alert">{{vm.messageImage}}</div>
    <div/>
    <div class="form-group">
      <label>Rol:</label>
      <input class="form-control" placeholder="Rol" ng-model="vm.data.role" type="text" name="role" />
    <div/>
    <br/>
    <div class="form-group">
      <label>Descripción corta:</label>
      <div text-angular ng-model="vm.data.shortBody"></div>
    </div>
    <div class="form-group">
      <label>Descripción:</label>
      <div text-angular ng-model="vm.data.body"></div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="checkbox" ng-model="vm.data.active" name="active" /> Activo
      </label>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="vm.sendEvent()">
      Guardar Expositor
    </button>
  </div>
</div>
