<div class="col-md-10 col-md-offset-1">
  <h1 ng-hide="vm.activity._id">Insertar Actividad</h1>
  <h1 ng-show="vm.activity._id">Editar Actividad</h1>
  <form name="form" novalidate>
    <div class="form-group">
      <label>
        Nombre:
      </label>
      <input class="form-control" placeholder="Name" ng-model="vm.activity.name" type="text" name="name" />
    </div>
    <div class="form-group">
      <label>
        Categoria:
      </label>
      <select class="form-control" placeholder="Categoria" ng-model="vm.activity.category" name="category">
        <option value="talk"> Talk </option>
        <option value="workshop"> Workshop </option>
      </select>
    </div>
    <div class="form-group">
      <label>Capacidad Total:</label>
      <input class="form-control" placeholder="Categoria" ng-model="vm.activity.totalCapacity" type="number" name="totalCapacity" />
    </div>
    <br/>
    <div class="form-group">
      <label>Objetivo:</label>
      <div text-angular ng-model="vm.activity.objective"></div>
    </div>
    <div class="form-group">
      <label>Descripción:</label>
      <div text-angular ng-model="vm.activity.body"></div>
    </div>
    <div class="form-group">
      <label>Fecha Actividad:</label>
      <input class="form-control" type="date" ng-model="vm.activity.activityDate" name="startDate" />
    </div>
    <div class="form-group">
      <label>Inicio:</label>
      <input class="form-control" type="time" ng-model="vm.activity.startTime" name="startTime" />
    </div>
    <div class="form-group">
      <label>Final:</label>
      <input class="form-control" type="time" ng-model="vm.activity.endTime" name="endTime" />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="checkbox" ng-model="vm.activity.active" name="active" /> Activo
      </label>   
    </div>
    <button type="submit" class="btn btn-primary" ng-click="vm.sendEvent()">
      Guardar Evento
    </button>
  </form>
</div>
