<div class="row">
  <div ng-init="vm.getListEvents()" class="col-md-10 col-md-offset-1">
    <h1>Agregar Expositores a Actividad {{vm.activity.name}}</h1>
    <br />
    <div>
      <input type="checkbox" id="toggleFilter" ng-model="vm.toggleFilter" />
      <label for="toggleFilter">
        Mostrar Filtro
      </label>
    </div>
    <div>
      <table id="eventList" ng-table="vm.tableHostParams" class="table table-striped table-hover table-condensed table-responsive text-center" show-filter="vm.toggleFilter">
        <tr ng-repeat="data in $data">
          <td title="'Nombre'" filter="{name: 'text'}" sortable="'name'">
            {{data.name}}
          </td>
          <td title="'Agregar Expositor'">
            <input type="checkbox" ng-model="data.addHost" ng-change="vm.addHostToActivity(data._id, data.addHost)" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
