<div class="row">
  <div ng-init="vm.getListEvents()" class="col-md-10 col-md-offset-1">
    <h1>Lista de Activities del evento {{vm.data.name}}</h1>
    <div>
      <a ui-sref="addActivity({idEvent: vm.data._id})">
        <span class="fa fa-plus-circle">
        </span>
        <label>
          Añadir Actividad
        </label>
      </a>
    </div>
    <div>
      <input type="checkbox" id="toggleFilter" ng-model="vm.toggleFilter" />
      <label for="toggleFilter">
        Mostrar Filtro
      </label>
    </div>
    <div cg-busy="vm.busy">
      <table id="eventList" ng-table="vm.tableParams" class="table table-striped table-hover table-condensed table-responsive text-center" show-filter="vm.toggleFilter">
        <tr ng-repeat="data in $data">
          <td>
            <a ui-sref="editActivity({idEvent: vm.data._id, id: data._id})">
              <span class="fa fa-pencil-square-o">
              </span>
            </a>
          </td>
          <td title="'Nombre'" filter="{name: 'text'}" sortable="'name'">
            {{data.name}}
          </td>
          <td title="'Categoria'" filter="{category: 'text'}" sortable="'category'">
            {{data.category}}
          </td>
          <td title="'Capacidad Total'" filter="{totalCapacity: 'text'}" sortable="'totalCapacity'">
            {{data.totalCapacity}}
          </td>
          <td title="'F. Actividad'" sortable="'startDate'">
            {{data.activityDate | customFormatDate: 'dd/MM/yyyy'}}
          </td>
          <td title="'Inicial'" sortable="'startDate'">
            {{data.startTime | date: 'hh:mm a'}}
          </td>
          <td title="'Final'" sortable="'endDate'">
            {{data.endTime | date: 'hh:mm a'}}
          </td>
          <td title="'F. Actualización'" sortable="'updateAt'">
            {{data.updateAt | customFormatDate: "dd/MM/yyyy hh:mm:ss"}}
          </td>
          <td title="'F. de Creación'" sortable="'createAt'">
            {{data.createdAt | customFormatDate: "dd/MM/yyyy hh:mm:ss"}}
          </td>
          <td title="'Presentadores'">
            <a ui-sref="expoActivity({idEvent: vm.data._id, id: data._id})"><span class="fa fa-plus-circle"></span></a>
          </td>
          <td title="'Activo'" sortable="'active'">
            <input type="checkbox" ng-model="data.active" disabled />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>